.views[current="vehicle"] [view="vehicle"] {
    display: flex;
}

.acelerator {
    -webkit-appearance: slider-vertical;
    position: fixed;
    right: 1%;
    top: 1%;
    bottom: 1%;
    height: 95%;
}

.steering-wheel {
    position: fixed;
    width: 40%;
    top: 50%;
    left: 1%;
}
